@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Cairo+Play&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    background-color: #ffde59;
    color: #8a2be2;
}

.title {
    font-family: 'Cairo Play', cursive;
}

.logo {
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 320px;
    background-position: center;
}

.main-header {
    text-align: center;
    background-color: #8a2be2;
    color: #ffde59;
}