@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Cairo+Play&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    background-color: #ffde59;
    color: #8a2be2;
}

.title {
    font-family: 'Cairo Play', cursive;
    background-color: #8a2be2;
    color: #ffde59;
}

/******************************************Header*/

.logo {
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 360px;
    width: 360px;
    background-position: center;
}

.main-header {
    text-align: center;
}

/******************************************Navigation*/

.menu-item {
    height: 120px;
}

.nav-coursework {
    background-color: #ffde59;
    color: #8a2be2;
    border-color: #ffffff;
    border: 1px solid;
}

.nav-hackathon {
    background-color: #8a2be2;
    color: #ffde59;
    border-color: #ffffff;
    border: 1px solid;
}

.nav-project {
    background-color: #ffffff;
    color: #8a2be2;
    border-color: #ffde59;
    border: 1px solid;
}

/******************************************Footer*/

footer {
    font-family: 'Cairo Play', cursive;
    background-color: #8a2be2;
    color: #ffde59;
}